:root {
	--arial: Arial, Helvetica, sans-serif
}

html,
body,
#root,
.app {
	height: 100%;
	font-family: var(--arial)
}

body,
h1,
h2,
p {
	margin: 0px;
}



.background-wrap {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.background-wrap ::selection {
	background: rgba(255, 255, 255, 0.3)
}

.background-wrap.girl-dandelion {
	background-image: url("../img/girl-dandelion.jpg");
}

.flex {
	display: flex;
}

.flex.down {
	flex-direction: column
}

.flex.reverse {
	flex-direction: row-reverse;
}

.flex.centre {
	align-items: center;
	justify-content: center;
	text-align: center
}

h1.header {
	color: white;
	font-size: 77px;
}

h2.header {
	color: black;
	font-size: 45px;
}

.counter h1 {
	margin-right: 15px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, .42);
}

.counter h1 span {
	transition: all .5s ease;
}

button.counter {
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 100px;
}

button.counter.hide {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.guess-header {
	max-width: 650px;
	text-align: center;
	margin-top: 100px;
	margin-right: 60px;
	margin-bottom: 30px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, .42);
}

.tab {
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: white;
	font-size: 30px;
	margin-top: -44px;
	padding-top: 10px;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.page {
	margin-top: 40px;
	height: 500px;
}

a {
	color: rgb(220, 187, 16);
	text-decoration: none;
	border: 3px solid rgb(220, 187, 16);
	background-color: transparent;
	padding: 10px;
	border-radius: 10px;
	transition: all .3s ease;
}

a:hover {
	color: white;
	background-color: rgb(220, 187, 16);
	border: none;
}

img.logo {
	max-height: 60px;
	margin-top: 150px;
}

@-webkit-keyframes scale-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
}

@keyframes scale-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}